[*.{cs,vb}]

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = for_non_interface_members

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = non_public

# IDE0011: Add braces
dotnet_diagnostic.IDE0011.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# IDE0060: Remove unused parameter
dotnet_diagnostic.IDE0060.severity = none
